*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(37, 94, 233);
    color: white;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.container-small{
    max-width: 780px;
    margin: 12em auto;
}

.button{
    padding: 0.8rem 1rem;
    border-radius: 10em;
    text-decoration: none;
    display: inline-block;
}

.button-white{
    background-color: white;
    color: black;
}

.button-white:hover {
    color: rgb(114, 137, 218);
    box-shadow: 3px 3px 10px rgb(114, 137, 218),
                -3px -3px 10px rgb(114, 137, 218),
                3px -3px 10px rgb(114, 137, 218),
                -3px 3px 10px rgb(114, 137, 218)
}

.button-black:hover {
    opacity: 0.9;
    box-shadow: 5px 5px 18px #888888;
}

.button-purple:hover {
    opacity: 0.9;
    box-shadow: 5px 5px 18px #888888;
}

.button-black{
    background-color: rgb(35, 39, 42);
    color: white;
    margin-left: 2rem;
}

.nav-menu{
    height: 4em;
    padding-top: 1em;
}

.nav-menu ul {
    display: flex;
    height: 100%;
}

.nav-menu li {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu .menu-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    margin: 0 0.4em;
    text-decoration: none;
    color: white;
}

.nav-menu .menu-link:hover {
    text-decoration: underline;
} 

.nav-menu .logo{
    margin-right: auto
}

.nav-menu .login{
    margin-left: auto;
}

.head-background{
    padding: 3rem 0 3rem;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.head-content{
    text-align: center;
    color: white;
    margin-bottom: 6rem;
}

.head-content h1{
    margin-bottom: 1em;
    font-size: 50px;
}

.headline{
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 2rem;
}

.fa-down-long{
    padding-right: .5em;
}

.main-container{
    display: flex;
    max-width: 1300px;
    margin: 8em auto;
}

.first-item {
    padding-bottom: 2em;
}

.main-container h2{
    font-size: 50px;
    margin-bottom: .5em;
}

.main-container p{
    font-size: 20px;
    line-height: 1.6;
}

.text-content{
    margin-top: 2em;
    padding: 0 8em 0 3em;
}

.wave, .wave-white {
    margin-bottom: -1rem;
    margin-top: -5rem;
}

.wave-white{
    transform: rotateY(180deg);
}

.second-item{
    flex-direction: row-reverse;
}

.grey-background{
    background-color: #F5F5F5;
}

.last-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    text-align: center;
    padding-top: 3rem;
}

.last-item-container h2{
    font-size: 50px;
    margin-bottom: .5em;
}

.last-item-container p{
    font-size: 20px;
    line-height: 1.6;
    padding: 0 7.5em 0;
}

.stars{
    margin-top: 2em;
    padding-bottom: 7em;
}

.stars h3{
    font-size: 28px;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}

.button-purple{
    background-color: rgb(114, 137, 218);
    color: white;
}

footer{
    background-color: rgb(35, 39, 42);
}

.foot-container{
    display: flex;
    max-width: 1300px;
    margin: auto;
    color: white;
    justify-content: space-between;
    border-bottom: 1px solid rgb(114, 137, 218);
}

.social{
    padding-top: 3rem;
    padding-left: 2rem;
}

.social h3{
    font-size: 28px;
    color: rgb(114, 137, 218);
    margin-bottom: 1rem;
}

.foot-list ul{
    list-style: none;
    padding: 3rem 0 2em 2rem;
    line-height: 1.6;
}

.foot-list li:first-child{
    color: rgb(114, 137, 218);
}

.foot-list .link-list:hover{
    text-decoration: underline;
}

.italiano {
    width: 20px;
}

.foot-container a{
    text-decoration: none;
    color:white;
}

.end-foot{
    max-width: 1300px;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    height: 8em;
}

.fa-brands{
    color: white;
    font-size: 20px;
    padding: 1em 1em 1em 0;
}
